

<div class="sidebar" #sidebar opened="true">
    <!-- <div class="logo_content">
      <div class="logo"> 
        <i class='bx bxs-dashboard'></i>
        <div class="logo_name">Explore</div>
      </div>
      <i class='bx bx-menu' id="btn"  style="cursor:pointer"></i>
    </div> -->
    <ul class="nav_list">
      <li *ngIf="userRole">
        <a routerLink="/home_user" ></a></li>
      <li *ngIf="auth.loggedIn() && userRole">
        <a routerLink="/myresumes" >
          <i class='bx bx-folder'></i>
          <span class="links_name" >My Projects</span>
        </a>
      </li>
      <li *ngIf="adminRole">
        <a routerLink="/_templates" >
          <i class='bx bxs-grid-alt'></i>
          <span class="links_name">Templates</span>
        </a>
      </li>
      <li *ngIf="userRole" >
        <a routerLink="/data" >
          <i class='bx bxs-grid-alt'></i>
          <span class="links_name" >Create Resume</span>
        </a>
      </li>
      <li *ngIf="adminRole">
        <a routerLink="/Accountsettings">
          <i class='bx bx-user'></i>
          <span class="links_name">Account</span>
        </a>
      </li>
      <li *ngIf="adminRole">
        <a routerLink="/manageuser" >
          <i class='bx bx-help-circle'></i>
          <span class="links_name">Manage User</span>
        </a>
      </li> 
    </ul>
  </div>
