
<div class="container" id="container" >
    <h2 *ngIf="role==='user'" style="margin-top:2em;padding-left: 15em;font-weight:bolder;margin-left:7em;color:rgb(107, 103, 103);margin-left: 2em;font-size: 30px;font-style: italic;font-family: 'Courier New', Courier, monospace;">Welcome 
        &nbsp;{{name}} &nbsp;<i class="bi bi-person-check-fill"></i></h2>
<div class="row">
    <div class="col-6">
        <img src="/assets/img/userhome1.png" alt="Flowers in Chania">

    </div>
    <div class="col-6">
<p>A4 is the resume builder that helps you highlight your achievements, attitude and personality. You get a modern resume that people remember. It’s easy and free to use!</p>
   <br><br>
<button class="btn btn-primary" routerLink="/myresumes">GET STARTED</button>

</div>
</div>

</div>
