
<app-header></app-header>

<form [formGroup]="childForm3">
    <br>
    <h4>
        Skill {{arrayIndex+1}}
    </h4>
        <div  class="container">
            <div class="row">
              <div  class="col-md">
               
                <mat-form-field *ngFor="let i of data.skills" appearance="fill">
                  <mat-label>Skill</mat-label>
                  <input type="text" matInput placeholder="Your Skill" [(ngModel)]="i.skill" formControlName="skill"  required>
                </mat-form-field><br>
        
              </div>
              
              <div class="col-md">
                


              </div>
              <div class="col-md">
              
                
    
        
              </div>
            </div>
            
          </div> 
          <button  class="btn btn-danger " *ngIf="totalSkillDetails>1" (click)="deleteSkillDetails(arrayIndex)"  >Remove</button>


    </form>
    

    
    
    
