<app-header></app-header>

<app-sidenav></app-sidenav>


<br><br><br>
<div  style="margin-left:8em;padding-left: 15em;"class="container">


    <!-- Card deck -->
    <div class="card-deck row">
    
      <div *ngIf="i>0" class="col-xs-12 col-sm-6 col-md-6">
      <!-- Card -->
      <div class="card">
     
        <!--Card content-->
        <div class="card-body">
    
          <!--Card image-->
          <div class="view overlayy">
            <img class="card-img-top" src="assets/img/temp1new.jpg"  alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
            <div class="overlay"></div>
            <div class="button"><a class="btn" (click)="temp1()"> Choose </a></div>
          </div>
    
        </div>
    
      </div>
      <!-- Card -->
      </div>
    
     

      <div *ngIf="j>0" class="col-xs-12 col-sm-6 col-md-6">
        <!-- Card -->
        <div  class="card">
       
          <!--Card content-->
          <div class="card-body">
      
            <!--Card image-->
            <div class="view overlayy">
              <img class="card-img-top" src="assets/img/temp2new.jpg"  alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
              <div class="overlay"></div>
              <div  class="button"><a class="btn" (click)="temp2()">Choose</a></div>
            </div>
      
          </div>
      
        </div>
        <!-- Card -->
        </div>



        <div *ngIf="k>0" class="col-xs-12 col-sm-6 col-md-6">
            <!-- Card -->
            <div class="card">
           
              <!--Card content-->
              <div class="card-body">
          
                <!--Card image-->
                <div class="view overlayy">
                  <img class="card-img-top" src="assets/img/temp3new.jpg"  alt="Card image cap">
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                  <div class="overlay"></div>
                  <div class="button"><a class="btn" (click)="temp3()" > Choose </a></div>
                </div>
          
              </div>
          
            </div>
            <!-- Card -->
            </div>



            <div *ngIf="l>0" class="col-xs-12 col-sm-6 col-md-6">
                <!-- Card -->
                <div class="card">
               
                  <!--Card content-->
                  <div class="card-body">
              
                    <!--Card image-->
                    <div class="view overlayy">
                      <img class="card-img-top" src="assets/img/temp4new.jpg"  alt="Card image cap">
                      <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                      </a>
                      <div class="overlay"></div>
                      <div class="button"><a class="btn" (click)="temp4()" >Choose </a></div>
                    </div>
              
                  </div>
              
                </div>
                <!-- Card -->
                </div>


      
    </div>
    <!-- Card deck -->
      

    
    </div>