
<app-header></app-header>

<app-sidenav></app-sidenav>

<div class="account">
    <h1>Change Admin Credentials  &nbsp; <b><i class="bi bi-lock-fill"></i></b></h1>

<div class="name1">
    <h3>Username</h3>
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="uname" [(ngModel)]="uname"  [disabled]="inactive1"  aria-describedby="basic-addon2">
        <div class="input-group-append">
          <span class="input-group-text" (click)="changename()" id="basic-addon2" style="cursor:pointer ;">Edit</span>
        </div>
        <span class="input-group-text" *ngIf="showme" (click)="savename()"  style="cursor:pointer ;">Save</span>
      </div>
</div>


<div class="name">
    <h3>Password</h3>
<div class="input-group mb-3">
    <input type="password" class="form-control"  name="pwd"[(ngModel)]="pwd"   [disabled]="inactive2" aria-describedby="basic-addon2">
    <div class="input-group-append">
      <span class="input-group-text"  (click)="changemail()" id="basic-addon2"  style="cursor:pointer ;">Edit</span>
    </div>
    <span class="input-group-text" *ngIf="showme2" (click)="savepwd()"  style="cursor:pointer ;">save</span>
  </div>
</div>
</div>